body{
    background-color: burlywood;
    color: black;
    /* margin: 12px; */
    padding: 8px;
}

#Tinubu{
    background-color: aqua;
}

#Atiku{
    background-color: darkolivegreen;
}

#Peter{
    background-color: aqua;
}

#Sowore{
    background-color: darkolivegreen;
}

#Khadija{
    background-color: #f9423D;
}


.navbar-nav{
    float: right;
}

img{
    width: 150px;
    height: 600px;

}

h3{
    text-align: center;
}

#identity{
    display: none;
}
#Tinubu{
    box-sizing: border-box;
}



.footer-container{
    background-color: brown;
    padding:4rem 0 4rem 0; 


}

.footer{
    width: 80%;
    height: 40p;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading{
 display: flex; 
    flex-direction: column;
     margin-right: 4rem;
}

.footer-heading h2{
     margin-bottom: 2rem;
}

.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color: red;
     transition: 0.3s ease-out;
} 

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder{
    color: #b1b1b1;
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423D;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;

}

#footer-email-btn:hover{
    cursor: pointer;
    background-color: #337AF1;
    transition: white;
    
}
